.content-pro {
    background: #fbedd7;
    overflow: hidden;
}

.new-title {
    margin-left: 11%;
    margin-top: 42px;
    margin-bottom: 20px;
}

.menu-img {
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px rgb(243, 189, 122);
    padding: 100px 60px 100px 60px;
    width: 20.333333% !important;
}

.rowpadding {
    width: 25.333333% !important;
}

.col-md-4 a {
    cursor: pointer;
}

.row {
    text-align: center;
}

.tend a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.tend h3 {
    width: 103%;
}

.main-content {
    margin-left: 143px;
}

.content-title {
    margin-left: 170px;
    margin-top: 50px;
}
